<%- include('partials/head')  %> 

    <%- include('partials/navbar') %>
    <h1>This is a heading <%= 1 + 3 + 3 + 1 %></h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quae, necessitatibus commodi suscipit aperiam explicabo sed unde qui reprehenderit voluptatum beatae provident temporibus, doloribus nesciunt eius ex aut blanditiis <ipsam class="lorem"></ipsam></p>

    <p>Lorem ipsum dolor sit amet consectet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae impedit quod consectetur, sint error dignissimos doloremque? Cumque ullam dolorum cupiditate eveniet temporibus consequatur expedita totam, explicabo quibusdam, et ex quis.</p>
    <%- include('partials/footer') %>